$cardDefault: #1698d9;
$cardDefaultHover: #2ea8e6;
$cardSelected: #d91667;
$cardSelectedHover: #e52e7a;

.card {
  &__container {
    position: relative;
    margin: 25px 40px;
  }

  &__body {
    position: relative;
    width: 320px;
    height: 509px;
    padding: 21px 0 0 48px;
    border: 4px solid $cardDefault;
    border-radius: 12px;
    background: #f2f2f2;
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    cursor: pointer;
    &::after {
      position: absolute;
      top: -1px;
      left: -1px;
      width: 50px;
      height: 50px;
      background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 34.5px, $cardDefault 0, $cardDefault 39px, transparent 0);
      content: '';
    }

    &::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border-radius: 8px;
      background-image: url('./assets/img/kote.png');
      background-position: 61% 170%;
      background-repeat: no-repeat;
      background-size: 368px 360px;
      content: '';
    }
  }

  &__header,
  &__header-selected {
    padding-left: 3px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  &__header-selected {
    display: none;
    padding-left: 3px;
    color: #e62e7a;
  }

  &__title {
    margin-top: 5px;
    color: #000000;
    font-family: 'Trebuchet MS';
    font-size: 48px;
    line-height: 56px;
  }

  &__sub-title {
    color: #000000;
    font-family: 'Trebuchet MS';
    font-size: 24px;
    line-height: 28px;
  }

  &__benefits {
    margin-top: 14px;
    list-style: none;
  }

  &__benefit {
    color: #666666;
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  &__description,
  &__description-selected,
  &__description-not-available {
    margin-top: 14px;
    color: white;
    font-size: 13px;
    line-height: 15.23px;
    text-align: center;
  }
  &__description-selected,
  &__description-not-available {
    display: none;
  }
  &__description-not-available {
    color: #ffff66;
  }
  &__buy-link {
    border-bottom: 1px dashed #1698d9;
    color: #1698d9;
    cursor: pointer;
  }
}

.card__radio-select {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  appearance: none;
}
.card__radio-select:checked ~ .card__description {
  display: none;
}
.card__radio-select:checked ~ .card__description-selected {
  display: block;
}

.card__radio-select:checked + .card__wrapper .card__body {
  border: 4px solid $cardSelected;
  &::after {
    background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 34.5px, $cardSelected 0, $cardSelected 39px, transparent 0);
  }

  & .size__container {
    background: $cardSelected;
  }
  & .card__description {
    display: none;
  }
  & .card__description-selected {
    display: block;
  }
}
.card__radio-select:checked + .card__wrapper--selected:hover .card__body {
  border: 4px solid $cardSelectedHover;

  &::after {
    background: linear-gradient(
      -45deg,
      #f2f2f2,
      #f2f2f2 34.5px,
      $cardSelectedHover 0,
      $cardSelectedHover 39px,
      transparent 0
    );
  }
  & .size__container {
    background: $cardSelectedHover;
  }
  & .card__header-selected {
    display: block;
  }
  & .card__header {
    display: none;
  }
}
.card__radio-select:not(:checked):not(:disabled) + .card__wrapper .card__body:hover {
  border: 4px solid $cardDefaultHover;
  &::after {
    background: linear-gradient(
      -45deg,
      #f2f2f2,
      #f2f2f2 34.5px,
      $cardDefaultHover 0,
      $cardDefaultHover 39px,
      transparent 0
    );
  }
  & .size__container {
    background: $cardDefaultHover;
  }
}
.card__radio-select:disabled + .card__wrapper .card__body {
  border: 4px solid #b3b3b3;
  &::after {
    background: linear-gradient(-45deg, #f2f2f2, #f2f2f2 34.5px, #b3b3b3 0, #b3b3b3 39px, transparent 0);
  }
  &::before {
    opacity: 0.5;
  }
  & * {
    color: #b3b3b3;
  }
  & .size__container {
    background: #b3b3b3;
  }
  & .size__count,
  .size__measure {
    color: white !important;
  }
}
.card__radio-select:disabled ~ .card__description-not-available {
  display: block;
}
.card__radio-select:disabled ~ .card__description {
  display: none;
}

.size {
  &__container {
    display: flex;
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 50%;
    background: $cardDefault;
    color: white;
  }

  &__count {
    font-family: 'Trebuchet MS';
    font-size: 42px;
    line-height: 22px;
  }

  &__measure {
    font-family: 'Trebuchet MS';
    font-size: 20px;
    line-height: 22px;
  }
}
