@import './styles/cards-section.scss';
@import './styles/cards.scss';

@font-face {
  font-family: 'Exo 2';
  src: url('./assets/fonts/Exo2.0-Thin.otf') format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/img/background.png');
  font-family: 'Exo 2', sans-serif;
}
