@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/img/background.png');
  font-family: 'Exo 2', sans-serif;
}

.cards-section {
  // .cards-section__title

  &__title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 100;
    line-height: 42px;
    text-align: center;
    text-shadow: 0px 1px 1px #000000;
  }

  // .cards-section__cards-container

  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  &__container {
    margin: 25px 40px;
  }
  &__wrapper {
  }

  &__body {
    position: relative;
    width: 320px;
    height: 509px;
    padding: 21px 0 0 48px;
    border: 4px solid #1698d9;
    border-radius: 12px;
    background: white;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border-radius: 8px;
      background-image: url('./assets/img/kote.png');
      background-position: 61% 170%;
      background-repeat: no-repeat;
      background-size: 368px 360px;
      content: '';
    }
  }

  &__header {
    padding-left: 3px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    &--selected {
      display: none;
    }
  }

  // .card__header--selected

  &__header--selected {
  }

  // .card__title

  &__title {
    margin-top: 5px;
    color: #000000;
    font-family: 'Trebuchet MS';
    font-size: 48px;
    line-height: 56px;
  }

  // .card__sub-title

  &__sub-title {
    color: #000000;
    font-family: 'Trebuchet MS';
    font-size: 24px;
    line-height: 28px;
  }

  // .card__benefits

  &__benefits {
    margin-top: 14px;
    list-style: none;
  }

  // .card__benefit

  &__benefit {
    color: #666666;
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  &__description {
    color: white;
  }
}

//checked styles
.card__radio-select {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  appearance: none;
}
.card__radio-select:checked + .card__body {
  //   .card__body {
  border: 4px solid #d91667;
  & .size__container {
    background: #d91667;
  }
  & .card__description {
    display: none;
  }
  & .card__description-selected {
    display: block;
  }
}
.card__radio-select:checked + .card__body--selected:hover {
  //   .card__body {
  border: 4px solid #e52e7a;
  & .size__container {
    background: #e52e7a;
  }
}
.card__radio-select:not(:checked):not(:disabled) + .card__body:hover {
  //   .card__body {
  border: 4px solid #2ea8e6;
  & .size__container {
    background: #2ea8e6;
  }
  & .card__description-selected {
    display: none;
  }
}
.card__radio-select:disabled + .card__body {
  //   opacity: 0.5;

  border: 4px solid #b3b3b3;
  filter: contrast(0.5);
  &::before {
    opacity: 0.5;
  }
  & * {
    color: #b3b3b3;
  }
  & .size__container {
    background: #b3b3b3;
  }
  & .size__count,
  .size__measure {
    color: white !important;
  }

  //   border: 4px solid red;
}

.size {
  // .size__container
  &__container {
    display: flex;
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 50%;
    background: #1698d9;
    color: white;
  }

  // .size__count

  &__count {
    font-family: 'Trebuchet MS';
    font-size: 42px;
    line-height: 22px;

    // color: #ffffff;
  }

  // .size__measure

  &__measure {
  }
}
